vim_plug_download
!vim_plug_download/plug_download_folder
vim_lua_download
nvim_lua
debug_dap_exe
lsp_exe
*.code-workspace
nvim/mason
nvim/.config/nvim/.plugins
nvim/.config/nvim/.managers
nvim/.config/nvim/.mason
